@model Capital.Domain.InsuranceProduct
<div class="row">
    <div class="col-md-12">
        <div class="row form-group">
            <div class="col-md-3">
                <label>Insurance Name</label>
                <input type="text" class="form_input" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Insurance Short Name</label>
                <input type="text" class="form_input half" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Insurance Type</label>
                <select class="form_input">
                    <option value="">Insurance Type 1</option>
                    <option value="">Insurance Type 2</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Insurance Company</label>
                <select class="form_input">
                    <option value="">Insurance Company 1</option>
                    <option value="">Insurance Company 2</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">

            <div class="col-md-6">
                <label>Active Date</label>
                <input type="text" class="form_input form_date" id="activeDate" />
            </div>
        </div>
    </div>
    <div class="input-group date form_date col-md-6" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
        <input class="form_input" type="text" value="" readonly>
        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
</div>
<hr />
<h2>Insurance Product Parametre&nbsp;<button type="button" class="create">...</button></h2>
<div class="table-responsive scroll1">
    <table class="table table-bordered" id="tab_logic">
        <thead>
            <tr class="grid_heading">
                <th>Parametres</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10001</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>10001</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>10001</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>10001</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>10001</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>10001</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>10001</td>
                <td>Description</td>
            </tr>
        </tbody>
    </table>
</div>
