
@{
    ViewBag.Title = "PayableReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container content-in">
    <div class="row">
        <h1>Payable Report</h1>
    </div>

    <div class="row">



        <div class="col-md-3">
            <div class="row">

                <div class="col-md-12">
                    <label>Insurance Company</label>
                    <input type="text" class="form_input" />
                </div>


            </div>
        </div>




    </div>


    <hr />



    <div class="table-responsive scroll3">
        <span class="filter"><img src="~/Images/icon/filter.png" /></span>
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="2%">#</th>
                    <th width="27%">Date</th>
                    <th width="21%">Insurance Company</th>
                    <th width="21%">Client Name</th>
                    <th width="21%">Sales Manager</th>
                    <th width="21%">Product</th>
                    <th width="7%" class="text-right">Amount</th>


                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td>Tom</td>
                    <td>Insurance</td>
                    <td class="text-right">5500</td>


                </tr>



                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td>Tom</td>
                    <td>Insurance</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td>Tom</td>
                    <td>Insurance</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td>Tom</td>
                    <td>Insurance</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td>Tom</td>
                    <td>Insurance</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>
                    <td>101</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td>Tom</td>
                    <td>Insurance</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td>Tom</td>
                    <td>Insurance</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td>Tom</td>
                    <td>Insurance</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td>Tom</td>
                    <td>Insurance</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td>Tom</td>
                    <td>Insurance</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td>Tom</td>
                    <td>Insurance</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>
                    <td>101</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td>Tom</td>
                    <td>Insurance</td>
                    <td class="text-right">5500</td>




                </tr>

                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td>Tom</td>
                    <td>Insurance</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td>Tom</td>
                    <td>Insurance</td>
                    <td class="text-right">5500</td>




                </tr>





            </tbody>

        </table>

    </div>




    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            <button type="button" class="form-button right" onclick="Proceed()">Create</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>


<script>
    function Proceed() {
        var url = '@Url.Action("Payment", "PayableReport")'
        window.location = url;
    }

</script>
