
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container content-in">
    <div class="row">
        <h1>Payment</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-6">
                    <label>P No.</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Date</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Insurance Company Name</label>
                    <select class="form_input">
                        <option value="">Select Insurance Company</option>
                        <option value="">Insurance Company 1</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="col-md-3">

            <div class="row form-group">

                <div class="col-md-6">
                    <label>Product</label>
                    <select class="form_input">
                        <option value="">Product 1</option>
                        <option value="">Product 2</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label>Insurance Type</label>
                    <select class="form_input">
                        <option value="">Insurance 1</option>
                        <option value="">Insurance 2</option>
                    </select>
                </div>

            </div>

        </div>
        <div class="col-md-3">

            <div class="row form-group">

                <div class="col-md-6">
                    <label>Total Amount</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Amount</label>
                    <input type="text" class="form_input" />
                </div>

            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <label>Special Remarks</label>
            <textarea class="form_input text-area"></textarea>

        </div>
    </div>




    <div class="row">
        <hr />
        <div class="col-md-12">
            <button type="button" class="form-button" onclick="Previous()">Previous</button>
            <button type="button" class="form-button right">Print</button>
            <button type="button" class="form-button right">Save</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>

<script>
    function Previous() {
        var url = '@Url.Action("PreviousPayable", "PayableReport")'
        window.location = url;
    }

</script>
