
@{
    ViewBag.Title = "Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container content-in">
    <div class="row">
        <h1>Policy Issue</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <div class="col-md-3">
                    <label>Date</label>
                    <input type="text" class="form_input half" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label>Client Name</label>
            <select class="form_input">
                <option value="">Client 1</option>
                <option value="">Client 2</option>
            </select>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Address 1</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Address 2</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Address 3</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2>Insurance Details</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Company</label>
                    <select class="form_input">
                        <option value="">Company 1</option>
                        <option value="">Company 2</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label>Product</label>
                    <select class="form_input">
                        <option value="">Product 1</option>
                        <option value="">Product 2</option>
                    </select>
                </div>


            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-6">
                    <label>Policy Sub Date</label>
                    <input type="text" class="form_input" />
                </div>

                <div class="col-md-6">
                    <label>Effective Date</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Addition Fees</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Total Amount</label>
                    <input type="text" class="form_input" />
                </div>



            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-6">
                    <label>Premium Amount</label>
                    <input type="text" class="form_input" />
                </div>


                <div class="col-md-6">
                    <label>Policy Fees</label>
                    <input type="text" class="form_input" />
                </div>

                <div class="col-md-6">
                    <label>Commi. Percentage</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Commi. Amount</label>
                    <input type="text" class="form_input" />
                </div>



            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Excecutive</label>
                    <input type="text" class="form_input" />
                </div>

                <div class="col-md-12">
                    <label>Reference</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
    </div>

    <hr />



    <div class="row">
        <div class="col-md-3">
            <h2>OPERATION</h2>
            <div class="row form-group">
                <div class="col-md-6">
                    <label>Policy No.</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Commi. in QRs</label>
                    <input type="text" class="form_input" />
                </div>




            </div>
        </div>

        <div class="col-md-3">
            <h2>FINANCE</h2>
            <div class="row form-group">

                <div class="col-md-12">
                    <label class="blue">Payment to</label>
                    <div class="row">
                        <div class="col-md-4 main-check">
                            <label class="check">CIB</label>
                            <input type="checkbox" name="" value="">
                        </div>
                        <div class="col-md-6 main-check">
                            <label class="check">Insurance Co</label>
                            <input type="checkbox" name="" value="" checked>
                        </div>
                    </div>


                </div>



            </div>
        </div>
        <div class="col-md-5">
            <h2>&nbsp;</h2>
            <div class="row form-group">

                <div class="col-md-12">
                    <label class="blue">Mode of Payment</label>
                    <div class="row">
                        <div class="col-md-3 main-check">
                            <label class="check">Cheque</label>
                            <input type="checkbox" name="" value="">
                        </div>
                        <div class="col-md-3 main-check">
                            <label class="check">Cash</label>
                            <input type="checkbox" name="" value="" checked>
                        </div>
                        <div class="col-md-4 main-check">
                            <label class="check">Bank Transfer</label>
                            <input type="checkbox" name="" value="" checked>
                        </div>
                    </div>


                </div>



            </div>
        </div>
        <div class="col-md-7">
            <div class="row form-group">
                <div class="col-md-3">
                    <label>Cheque No</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-3">
                    <label>Cheque Date</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-3">
                    <label>Bank Name</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-3">
                    <label>Cheque Amount</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            <button type="button" class="form-button right">Save</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>

</div>


