
@{
    ViewBag.Title = "Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container content-in">
    <div class="row">
        <h1>Renewal Policy Issue</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <div class="col-md-3">
                    <label>Date</label>
                    <input type="text" class="form_input half" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label>Client Name</label>
            <input type="text" class="form_input" />
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Address 1</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Address 2</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Address 3</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2>Insurance Details</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Company</label>
                    <input type="text" class="form_input" />
                </div>

                <div class="col-md-6">
                    <label>Premium Amount</label>
                    <input type="text" class="form_input" />
                </div>


                <div class="col-md-6">
                    <label>Policy Fees</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Product</label>
                    <input type="text" class="form_input" />
                </div>

                <div class="col-md-6">
                    <label>Addition Fees</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Total Amount</label>
                    <input type="text" class="form_input" />
                </div>



            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-6">
                    <label>Policy Sub Date</label>
                    <input type="text" class="form_input" />
                </div>

                <div class="col-md-6">
                    <label>Effective Date</label>
                    <input type="text" class="form_input" />
                </div>


                <div class="col-md-6">
                    <label>Commi. Percentage</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Commi. Amount</label>
                    <input type="text" class="form_input" />
                </div>



            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-6">
                    <label>Renewal Date</label>
                    <input type="text" class="form_input" />
                </div>


            </div>
        </div>
    </div>

    <hr />
    <h2>OPERATION</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Operation Manager</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-6">
                    <label>Policy No.</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Commi. in QRs</label>
                    <input type="text" class="form_input" />
                </div>



            </div>
        </div>


    </div>


    <hr />
    <h2>FINANCE</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Finance Manager</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-6">
                    <label>Payment to</label>
                    <select class="form_input">
                        <option value="">CIB</option>
                        <option value="">Insurance Co</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label>Mode of Payment</label>
                    <select class="form_input">
                        <option value="">Cheque</option>
                        <option value="">Cash</option>
                        <option value="">Bank Transfer</option>
                    </select>

                </div>

            </div>

        </div>


        <div class="table-responsive scroll2 col-md-6">
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th>Cheque No</th>
                        <th>Cheque Date</th>
                        <th>Bank Name</th>
                        <th>Cheque Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td><input type="text" class="form_input" /></td>
                        <td><input type="text" class="form_input" /></td>
                        <td><input type="text" class="form_input" /></td>
                        <td><input type="text" class="form_input" /></td>
                        <td><img src="~/Images/Plus.png" /></td>

                    </tr>




                </tbody>

            </table>
        </div>



    </div>

    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            <button type="button" class="form-button right">Save</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>

</div>


