
@{
    ViewBag.Title = "Sales_Achievement_report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <div class="container content-in">
        <div class="row">
            <h1>Sales Achievement report</h1>
        </div>
        <div class="row">

            <div class="col-md-3">
                <div class="row form-group">

                    <div class="col-md-6">
                        <label>Year</label>
                        <select class="form_input">
                            <option value="">Year</option>
                            <option value="">Year</option>
                        </select>
                    </div>




                </div>
            </div>
            <div class="col-md-3">
                <div class="row form-group">




                </div>
            </div>




        </div>


        <hr />


        <div class="table-responsive scroll3">
            <span class="filter"><img src="~/Images/icon/filter.png" /></span>
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th width="5%">Code</th>
                        <th width="25%">Employee Name</th>
                        <th width="20%" class="span">
                            <table class="table table-bordered" id="tab_logic">
                                <thead>
                                    <tr><th colspan="3"><center>Day</center></th></tr>
                                    <tr><th>Actual</th><th>Achv.%</th><th>Shortfall</th></tr>
                                </thead>
                            </table>

                        </th>
                        <th width="20%" class="span">
                            <table class="table table-bordered" id="tab_logic">
                                <thead>
                                    <tr><th colspan="3"><center>MTD</center></th></tr>
                                    <tr><th>Target</th><th>Actual</th><th>Achv.%</th></tr>
                                </thead>
                            </table>

                        </th>
                        <th width="10%">Monthly Achv.%</th>
                        <th width="10%">Short Fall</th>
                        <th width="10%" class="text-right">Required Rate</th>

                </thead>
                <tbody>

                    <tr>

                        <td>10001</td>
                        <td>Disoosa</td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>39</td><td>226%</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>455</td><td>363</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td>80%</td>
                        <td>92</td>
                        <td class="text-right">65</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Disoosa</td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>39</td><td>226%</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>455</td><td>363</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td>80%</td>
                        <td>92</td>
                        <td class="text-right">65</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Disoosa</td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>39</td><td>226%</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>455</td><td>363</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td>80%</td>
                        <td>92</td>
                        <td class="text-right">65</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Disoosa</td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>39</td><td>226%</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>455</td><td>363</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td>80%</td>
                        <td>92</td>
                        <td class="text-right">65</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Disoosa</td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>39</td><td>226%</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>455</td><td>363</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td>80%</td>
                        <td>92</td>
                        <td class="text-right">65</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Disoosa</td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>39</td><td>226%</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>455</td><td>363</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td>80%</td>
                        <td>92</td>
                        <td class="text-right">65</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Disoosa</td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>39</td><td>226%</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>455</td><td>363</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td>80%</td>
                        <td>92</td>
                        <td class="text-right">65</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Disoosa</td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>39</td><td>226%</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>455</td><td>363</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td>80%</td>
                        <td>92</td>
                        <td class="text-right">65</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Disoosa</td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>39</td><td>226%</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>455</td><td>363</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td>80%</td>
                        <td>92</td>
                        <td class="text-right">65</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Disoosa</td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>39</td><td>226%</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>455</td><td>363</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td>80%</td>
                        <td>92</td>
                        <td class="text-right">65</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Disoosa</td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>39</td><td>226%</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>455</td><td>363</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td>80%</td>
                        <td>92</td>
                        <td class="text-right">65</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Disoosa</td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>39</td><td>226%</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>455</td><td>363</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td>80%</td>
                        <td>92</td>
                        <td class="text-right">65</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Disoosa</td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>39</td><td>226%</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>455</td><td>363</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td>80%</td>
                        <td>92</td>
                        <td class="text-right">65</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Disoosa</td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>39</td><td>226%</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td>455</td><td>363</td><td>0</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td>80%</td>
                        <td>92</td>
                        <td class="text-right">65</td>

                    </tr>









                </tbody>


            </table>

        </div>



        <div class="row">
            <hr />
            <div class="col-md-12">

                <button type="button" class="form-button right">Save</button>
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            </div>

        </div>




    </div>
   