
@{
    ViewBag.Title = "Sales_Achievement_report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container content-in">
    <div class="row">
        <h1>Sales Achievement report</h1>
    </div>
    <div class="row">

        <div class="col-md-3">
            <div class="row">

                <div class="col-md-4">
                    <label>From</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-4">
                    <label>To</label>
                    <input type="text" class="form_input" />
                </div>




            </div>
        </div>





    </div>


    <hr />


    <div class="table-responsive scroll3">
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="10%">Month Name</th>
                    <th width="40%">Sales Excecutive</th>
                    <th width="10%">Target</th>
                    <th width="10%">Achieved</th>
                    <th width="10%">Achieved%</th>
                    <th width="10%">Variance</th>
                    <th width="10%">Var%</th>
                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>January</td>
                    <td>Kr Nathan</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10%</td>


                </tr>



                <tr>

                    <td>April</td>
                    <td>Cheguvera</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10%</td>





                </tr>
                <tr>

                    <td>December</td>
                    <td>Disoosa</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10%</td>



                </tr>

                <tr>

                    <td>January</td>
                    <td>Kr Nathan</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10%</td>


                </tr>
                <tr>

                    <td>January</td>
                    <td>Kr Nathan</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10%</td>


                </tr>
                <tr>

                    <td>January</td>
                    <td>Kr Nathan</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10%</td>


                </tr>
                <tr>

                    <td>January</td>
                    <td>Kr Nathan</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10%</td>


                </tr>
                <tr>

                    <td>January</td>
                    <td>Kr Nathan</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10%</td>


                </tr>
                <tr>

                    <td>January</td>
                    <td>Kr Nathan</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10%</td>


                </tr>
                <tr>

                    <td>January</td>
                    <td>Kr Nathan</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10%</td>


                </tr>
                <tr>

                    <td>January</td>
                    <td>Kr Nathan</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10%</td>


                </tr>
                <tr>

                    <td>January</td>
                    <td>Kr Nathan</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10%</td>


                </tr>
                <tr>

                    <td>January</td>
                    <td>Kr Nathan</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10%</td>


                </tr>
                <tr>

                    <td>January</td>
                    <td>Kr Nathan</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10%</td>


                </tr>
                <tr>

                    <td>January</td>
                    <td>Kr Nathan</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10%</td>


                </tr>






            </tbody>


        </table>
        
    </div>



    <div class="row">
        <hr />
        <div class="col-md-12">


            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>


