
@{
    ViewBag.Title = "Customer_Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container content-in">
    <div class="row">
        <h1>Customer Invoice</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-6">
                    <label>Invoice No.</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Date</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">

                <div class="col-md-3">
                    <div class="row form-group">

                        <div class="col-md-12">
                            <label>Customer</label>
                            <input type="text" class="form_input" />
                        </div>

                        </div>
                    </div>

            <div class="col-md-3">

                <div class="row form-group">

                    <div class="col-md-12">
                        <label>Insured Name</label>
                        <input type="text" class="form_input" />
                    </div>



                    </div>

                </div>
        <div class="col-md-3">

            <div class="row form-group">

                <div class="col-md-6">
                    <label> Customer Order Ref</label>
                    <input type="text" class="form_input" />
                </div>

            </div>

        </div>

                </div>


          

    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">



                <div class="col-md-12">
                    <label>Customer address 1</label>
                    <input type="text" class="form_input" />
                </div>



            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Customer address 2</label>
                    <input type="text" class="form_input" />
                </div>



            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Customer address 3</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">



            </div>
        </div>




    </div>

    <hr />


    <div class="table-responsive scroll2">
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="7%">#</th>
                    <th width="7%">Effective date</th>
                    <th width="7%">Type Of Insurance</th>
                    <th width="22%">Policy/Endorsement</th>
                    <th width="22%">Insurance Company</th>
                    <th width="7%" class="text-right">Qty</th>
                    <th width="7%">UoM</th>
                    <th width="7%" class="text-right">Rate</th>
                    <th width="7%" class="text-right">Discount</th>
                    <th width="7%" class="text-right">Amount</th>

                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>10001</td>
                    <td>11-11-2016</td>
                    <td>FC</td>
                    <td>Policy</td>
                    <td>United</td>
                    <td class="text-right">5</td>
                    <td>Nos</td>
                    <td class="text-right">1000</td>
                    <td class="text-right">5%</td>
                    <td class="text-right">10000</td>


                </tr>



                <tr>

                    <td>10002</td>
                    <td>11-11-2016</td>
                    <td>FC</td>
                    <td>Policy</td>
                    <td>United</td>
                    <td class="text-right">16</td>
                    <td>Nos</td>
                    <td class="text-right">10000</td>
                    <td class="text-right">10%</td>
                    <td class="text-right">10000</td>




                </tr>
                <tr>

                    <td>10001</td>
                    <td>11-11-2016</td>
                    <td>FC</td>
                    <td>Policy</td>
                    <td>United</td>
                    <td class="text-right">45</td>
                    <td>Nos</td>
                    <td class="text-right">10000</td>
                    <td class="text-right">10%</td>
                    <td class="text-right">10000</td>




                </tr>
                <tr>

                    <td>10001</td>
                    <td>11-11-2016</td>
                    <td>FC</td>
                    <td>Policy</td>
                    <td>United</td>
                    <td class="text-right">45</td>
                    <td>Nos</td>
                    <td class="text-right">10000</td>
                    <td class="text-right">10%</td>
                    <td class="text-right">10000</td>




                </tr>




            </tbody>

        </table>
        <table class="table table-bordered" id="tab_logic">
            <tr class="grid_heading footer">
                <th width="65%">&nbsp;</th>
                <th width="35%">Total</th>
            </tr>
        </table>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="row form-group">





                <div class="col-md-12">
                    <label>Special Remarks</label>
                    <textarea class="form_input text-area"></textarea>
                </div>
                <div class="col-md-12">
                    <label>Payment Terms</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="row form-group">




                <div class="col-md-4">
                    <label>Additional Remarks</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-2">
                    <label class="text-right">Add.Amount</label>
                    <input type="text" class="form_input text-right" />
                </div>

                <div class="col-md-4">
                    <label>Deduction Remarks</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-2">
                    <label class="text-right">Ded.Amount</label>
                    <input type="text" class="form_input text-right" />
                </div>
                <div class="col-md-3">
                    <label>Bill Due Date</label>
                    <input type="text" class="form_input" />
                </div>



            </div>
        </div>

    </div>

    <div class="row">
        <hr />
        <div class="col-md-12">
            <button type="button" class="form-button" onclick="Previous()">Previous</button>
            <button type="button" class="form-button right">Print</button>
            <button type="button" class="form-button right">Save</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>

<script>
    function Previous() {
        var url = '@Url.Action("PreviousCustomerInvoice", "Customer_Invoice")'
        window.location = url;
    }

</script>


