
@{
    ViewBag.Title = "PendingCustomerInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container content-in">
    <div class="row">
        <h1>Pending Customer Invoice</h1>
    </div>

    <div class="row">



        <div class="col-md-4">
            <div class="row">

                <div class="col-md-6">
                    <label>Customer</label>
                    <input type="text" class="form_input" />
                </div>


            </div>
        </div>




    </div>


    <hr />



    <div class="table-responsive scroll3">
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="2%">#</th>
                    <th width="35%">Customer</th>
                    <th width="35%">Insurance Company</th>
                    <th width="7%">Policy No</th>
                    <th width="7%">Policy Sub Date</th>
                    <th width="7%">Effective Date</th>
                    <th width="7%">Renewal Date</th>


                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>United</td>
                    <td>45866</td>
                    <td>15-10-2016</td>
                    <td>18-10-2016</td>
                    <td>18-10-2018</td>



                </tr>



                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>United</td>
                    <td>45866</td>
                    <td>15-10-2016</td>
                    <td>18-10-2016</td>
                    <td>18-10-2018</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>United</td>
                    <td>45866</td>
                    <td>15-10-2016</td>
                    <td>18-10-2016</td>
                    <td>18-10-2018</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>United</td>
                    <td>45866</td>
                    <td>15-10-2016</td>
                    <td>18-10-2016</td>
                    <td>18-10-2018</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>United</td>
                    <td>45866</td>
                    <td>15-10-2016</td>
                    <td>18-10-2016</td>
                    <td>18-10-2018</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>United</td>
                    <td>45866</td>
                    <td>15-10-2016</td>
                    <td>18-10-2016</td>
                    <td>18-10-2018</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>United</td>
                    <td>45866</td>
                    <td>15-10-2016</td>
                    <td>18-10-2016</td>
                    <td>18-10-2018</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>United</td>
                    <td>45866</td>
                    <td>15-10-2016</td>
                    <td>18-10-2016</td>
                    <td>18-10-2018</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>United</td>
                    <td>45866</td>
                    <td>15-10-2016</td>
                    <td>18-10-2016</td>
                    <td>18-10-2018</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>United</td>
                    <td>45866</td>
                    <td>15-10-2016</td>
                    <td>18-10-2016</td>
                    <td>18-10-2018</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>United</td>
                    <td>45866</td>
                    <td>15-10-2016</td>
                    <td>18-10-2016</td>
                    <td>18-10-2018</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>United</td>
                    <td>45866</td>
                    <td>15-10-2016</td>
                    <td>18-10-2016</td>
                    <td>18-10-2018</td>




                </tr>

                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>United</td>
                    <td>45866</td>
                    <td>15-10-2016</td>
                    <td>18-10-2016</td>
                    <td>18-10-2018</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>United</td>
                    <td>45866</td>
                    <td>15-10-2016</td>
                    <td>18-10-2016</td>
                    <td>18-10-2018</td>




                </tr>





            </tbody>

        </table>

    </div>




    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            <button type="button" class="form-button right" onclick="Proceed()">Proceed</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>


<script>
    function Proceed() {
        var url = '@Url.Action("Customer_Invoice", "Customer_Invoice")'
        window.location = url;
    }

</script>