@model List<Capital.Domain.CustomerInvoice>
@using GridMvc.Html
@{
    ViewBag.Title = "PreviousCustomerInvoice";
}



<div class="container content-in">

    <div class="row">
       
            <h1>Customer Invoice List</h1>

    </div>

    <div class="table-responsive scroll3">

        @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(m => m.CusInvoiceRefNo).Titled("Invoice No.").SetWidth(5);
        columns.Add(m => m.CusInvoiceDate).Format("{0:dd/MM/yyyy}").Titled("Invoice Date").SetWidth(5);
        columns.Add(m => m.CusName).Titled("Customer").SetWidth(15);
        columns.Add(m => m.TotalAmount).Titled("Total Premium").SetWidth(5);
      
       
            columns.Add().Encoded(false).Sanitized(false).SetWidth(5).Css("cent").RenderValueAs(m => @<a href="@Url.Action("PaymentCommitments")">Print</a>);
      
    }).WithPaging(15)
    </div>

    <div class="row">
        <hr />
        <div class="col-md-12 hrpart">
                <input type="button" class=" form-button right" onclick="Exit()" value="Exit" />
        </div>
    </div>
</div>