
@{
    ViewBag.Title = "Index";
}
<script>
    function Exit() {
        var url = '@Url.Action("Index","Home")';
        location.href = url;
    }

    function InsuranceCompanyPayable() {

        var url = '@Url.Action("InsuranceCompanyPayable", "InsuranceCompanyPayableReport")';
        window.location = url;
    }
</script>

<div class="container content-in">
    <div class="row">
        <h1>Insurance Company Payable Report</h1>
    </div>
    <br />
    <div id="Renewal_Summary">
        @Html.Action("InsuranceCompanyPayableReport")
    </div>
    <div class="row">
        <hr />
        <div class="col-md-12 hrpart">
            <input type="button" class=" form-button right" onclick="Exit()" value="Exit" />
            <input type="button" class=" form-button right" onclick="InsuranceCompanyPayable()" value="ExportToExcel" />
        </div>
    </div>
</div>
