
@model List<Capital.Domain.AgeingSummary>
@using GridMvc.Html
<div class="table-responsive scroll3">
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(m => m.CusName).Titled("Customer").SetWidth(12);
        columns.Add(m => m.TranType).Titled("Type").SetWidth(5);
        columns.Add(m => m.TotalPremium).Titled("Total Receivable").SetWidth(10).Css("text-right").Format("{0:#}");
        columns.Add(m => m.Amount1).Titled("0-15").SetWidth(10).Css("text-right");
        columns.Add(m => m.Amount2).Titled("15-30").SetWidth(7).Css("text-right");
        columns.Add(m => m.Amount3).Titled("30-60").SetWidth(7).Css("text-right");
        columns.Add(m => m.Amount4).Titled("60-90").SetWidth(7).Css("text-right");
        columns.Add(m => m.Amount5).Titled(">90").SetWidth(7).Css("text-right");
    }).WithPaging(15)
</div>
