<div class="row">
    <div class="col-md-12">
        <div class="row form-group">
            <div class="col-md-3">
                <label>Customer Name</label>
                <input type="text" class="form_input" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Customer Short Name</label>
                <input type="text" class="form_input half" />
            </div>
            <div class="col-md-12">
                <label>Customer Category</label>
                <select class="form_input">
                    <option value="">Customer Category 1</option>
                    <option value="">Customer Category 2</option>
                </select>
            </div>

        </div>
    </div>

    <div class="col-md-3">
        <div class="row form-group">


            <div class="col-md-12">
                <label>Region</label>
                <select class="form_input">
                    <option value="">Region 1</option>
                    <option value="">Region 2</option>
                </select>
            </div>

            <div class="col-md-6">
                <label>No of Employees</label>
                <input type="text" class="form_input" />
            </div>
            <div class="col-md-6">
                <label>No of Premises</label>
                <input type="text" class="form_input" />
            </div>


        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">

            <div class="col-md-12">
                <label>Sales Manager</label>
                <select class="form_input">
                    <option value="">Sales Manager 1</option>
                    <option value="">Sales Manager 2</option>
                </select>
            </div>





        </div>
    </div>


    <div class="col-md-3">
        <div class="row form-group">

            <div class="col-md-12">
                <label>prospective client</label>
                <div class="row">
                    <div class="col-md-12 main-check1">
                        <label class="check1">Yes</label>
                        <input type="checkbox" name="" value="">
                        <label class="check1">No</label>
                        <input type="checkbox" name="" value="" checked>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>

<hr />
<h2>Contact Details</h2>
<div class="row">
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Name</label>
                <input type="text" class="form_input" />
            </div>




        </div>
    </div>

    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Designation</label>
                <input type="text" class="form_input" />
            </div>



        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-6">
                <label>Office No.</label>
                <input type="text" class="form_input" />
            </div>

            <div class="col-md-6">
                <label>Mobile No.</label>
                <input type="text" class="form_input" />
            </div>

        </div>
    </div>


    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Email ID</label>
                <input type="text" class="form_input" />
            </div>



        </div>
    </div>

    <div class="col-md-3">
        <div class="row form-group">

            <div class="col-md-6">
                <label>State</label>
                <select class="form_input">
                    <option value="">State 1</option>
                    <option value="">State 2</option>
                </select>
            </div>

            <div class="col-md-6">
                <label>Country</label>
                <select class="form_input">
                    <option value="">Country 1</option>
                    <option value="">Country 2</option>
                </select>
            </div>


        </div>
    </div>

</div>


<hr />
<h2>Billing Address</h2>
<div class="row">
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Address 1</label>
                <input type="text" class="form_input" />
            </div>





        </div>
    </div>

    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Address 2</label>
                <input type="text" class="form_input" />
            </div>




        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">

            <div class="col-md-12">
                <label>Address 3</label>
                <input type="text" class="form_input" />
            </div>


        </div>
    </div>

    <div class="col-md-3">
        <div class="row form-group">



            <div class="col-md-6">
                <label>Credit Period</label>
                <input type="text" class="form_input" />
            </div>

            <div class="col-md-6">
                <label>Credit Amount</label>
                <input type="text" class="form_input" />
            </div>

        </div>
    </div>

</div>

<div class="row">
    <hr />
    <div class="col-md-12">
        <button type="button" class="form-button" onclick="Previous()">Previous</button>
        <button type="button" class="form-button right">Save</button>
        <button type="button" class="form-button right" onclick="Exit()">Exit</button>
    </div>
</div>
