@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container content-in">
    <div class="row">
        <h1>Customer</h1>
    </div>
    @Html.Partial("_Form")
    <div class="row">
        <hr />
        <div class="col-md-12">
            <button type="button" class="form-button" onclick="Previous()">Previous</button>
            <button type="button" class="form-button right">Save</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>
    </div>
</div>
<script>
    function Previous() {
        var url = '@Url.Action("PreviousCustomer", "Admin")'
        window.location = url;
    }

</script>


