
@{
    ViewBag.Title = "PendingProposal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container content-in">
    <div class="row">
        <h1>Pending Policy Endorsement</h1>
    </div>

    <div class="row">

        <div class="col-md-2">
            <div class="row">

                <div class="col-md-6">
                    <label>From</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>To</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>


        <div class="col-md-4">
            <div class="row">

                <div class="col-md-6">
                    <label>Client Name</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Excecutive</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>





    </div>


    <hr />



    <div class="table-responsive scroll3">
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="2%">#</th>
                    <th width="25%">Client Name</th>
                    <th width="7%">Endorsement Date</th>
                    <th width="25%">Insurance Company Name</th>
                    <th width="25%">Product Name</th>
                    <th width="7%">Policy Type</th>
                    <th width="7%">Endorsement Type</th>
                    <th width="7%" class="text-right">Amount</th>
                    <th width="15%">Excecutive</th>

                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>01-11-2016</td>
                    <td>United</td>
                    <td>life Insurance</td>
                    <td>Moneyback</td>
                    <td>Endorsement</td>
                    <td class="text-right">5500</td>
                    <td>Satheesh</td>


                </tr>



                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>01-11-2016</td>
                    <td>United</td>
                    <td>life Insurance</td>
                    <td>Moneyback</td>
                    <td>Endorsement</td>
                    <td class="text-right">5500</td>
                    <td>Satheesh</td>


                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>01-11-2016</td>
                    <td>United</td>
                    <td>life Insurance</td>
                    <td>Moneyback</td>
                    <td>Endorsement</td>
                    <td class="text-right">5500</td>
                    <td>Satheesh</td>


                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>01-11-2016</td>
                    <td>United</td>
                    <td>life Insurance</td>
                    <td>Moneyback</td>
                    <td>Endorsement</td>
                    <td class="text-right">5500</td>
                    <td>Satheesh</td>


                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>01-11-2016</td>
                    <td>United</td>
                    <td>life Insurance</td>
                    <td>Moneyback</td>
                    <td>Endorsement</td>
                    <td class="text-right">5500</td>
                    <td>Satheesh</td>


                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>01-11-2016</td>
                    <td>United</td>
                    <td>life Insurance</td>
                    <td>Moneyback</td>
                    <td>Endorsement</td>
                    <td class="text-right">5500</td>
                    <td>Satheesh</td>


                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>01-11-2016</td>
                    <td>United</td>
                    <td>life Insurance</td>
                    <td>Moneyback</td>
                    <td>Endorsement</td>
                    <td class="text-right">5500</td>
                    <td>Satheesh</td>


                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>01-11-2016</td>
                    <td>United</td>
                    <td>life Insurance</td>
                    <td>Moneyback</td>
                    <td>Endorsement</td>
                    <td class="text-right">5500</td>
                    <td>Satheesh</td>


                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>01-11-2016</td>
                    <td>United</td>
                    <td>life Insurance</td>
                    <td>Moneyback</td>
                    <td>Endorsement</td>
                    <td class="text-right">5500</td>
                    <td>Satheesh</td>


                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>01-11-2016</td>
                    <td>United</td>
                    <td>life Insurance</td>
                    <td>Moneyback</td>
                    <td>Endorsement</td>
                    <td class="text-right">5500</td>
                    <td>Satheesh</td>


                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>01-11-2016</td>
                    <td>United</td>
                    <td>life Insurance</td>
                    <td>Moneyback</td>
                    <td>Endorsement</td>
                    <td class="text-right">5500</td>
                    <td>Satheesh</td>


                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>01-11-2016</td>
                    <td>United</td>
                    <td>life Insurance</td>
                    <td>Moneyback</td>
                    <td>Endorsement</td>
                    <td class="text-right">5500</td>
                    <td>Satheesh</td>


                </tr>

                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>01-11-2016</td>
                    <td>United</td>
                    <td>life Insurance</td>
                    <td>Moneyback</td>
                    <td>Endorsement</td>
                    <td class="text-right">5500</td>
                    <td>Satheesh</td>


                </tr>
                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>01-11-2016</td>
                    <td>United</td>
                    <td>life Insurance</td>
                    <td>Moneyback</td>
                    <td>Endorsement</td>
                    <td class="text-right">5500</td>
                    <td>Satheesh</td>




                </tr>





            </tbody>

        </table>

    </div>




    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            <button type="button" class="form-button right" onclick="Proceed()">Proceed</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>



<script>
    function Proceed() {
        var url = '@Url.Action("Proposal", "Policy_Endorsement")'
        window.location = url;
    }

</script>

