
@{
    ViewBag.Title = "ReceivableReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container content-in">
    <div class="row">
        <h1>Receipt</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-6">
                    <label>R No.</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Date</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Customer</label>
                    <select class="form_input">
                        <option value="">Select Customer</option>
                        <option value="">Customer 1</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="col-md-3">

            <div class="row form-group">

                <div class="col-md-6">
                    <label>Sales Manager</label>
                    <select class="form_input">
                        <option value="">Sales Manager 1</option>
                        <option value="">Sales Manager 2</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label>Insurance Type</label>
                    <select class="form_input">
                        <option value="">Insurance 1</option>
                        <option value="">Insurance 2</option>
                    </select>
                </div>

            </div>

        </div>
        <div class="col-md-3">

            <div class="row form-group">

                <div class="col-md-6">
                    <label>Invoice No</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Invoice Date</label>
                    <input type="text" class="form_input" />
                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="row form-group">

                <div class="col-md-6">
                    <label>Total Amount</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Amount Paid</label>
                    <input type="text" class="form_input" />
                </div>

            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <label>Special Remarks</label>
            <textarea class="form_input text-area"></textarea>

        </div>
    </div>
    <hr />

    <div class="table-responsive scroll3">
        <span class="filter"><img src="~/Images/icon/filter.png" /></span>
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">

                    <th width="20%">Customer</th>
                    <th width="29%">Address</th>
                    <th width="5%">Invoice No</th>
                    <th width="7%">Invoice Date</th>
                    <th width="20%">Sales Manager</th>
                    <th width="7%" class="text-right">Pending Amount</th>
                    <th width="7%">DSO</th>




                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"></td>
                    <td></td>



                </tr>



                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"></td>
                    <td></td>





                </tr>
                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"></td>
                    <td></td>





                </tr>
                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"></td>
                    <td></td>





                </tr>
                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"></td>
                    <td></td>





                </tr>
                <tr>
                    <td>101</td>
                    <td>01-10-2016</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"></td>
                    <td></td>





                </tr>
                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"></td>
                    <td></td>





                </tr>
                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"></td>
                    <td></td>





                </tr>
                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"></td>
                    <td></td>





                </tr>











            </tbody>

        </table>

    </div>


    <div class="row">
        <hr />
        <div class="col-md-12">
            <button type="button" class="form-button" onclick="Previous()">Previous</button>
            <button type="button" class="form-button right">Print</button>
            <button type="button" class="form-button right">Save</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>

<script>
    function Previous() {
        var url = '@Url.Action("PreviousReceivable", "ReceivableReport")'
        window.location = url;
    }

</script>


