
@{
    ViewBag.Title = "Daily_Activity_report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container content-in">
    <div class="row">
        <h1>Daily Activity Report</h1>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="form-group">
                <div class="photo col-md-12">
                    <img src="~/Images/photo.jpg" />
                </div>


            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">


                <div class="col-md-6">
                    <label>Date</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-12">
                    <label>Employee</label>
                    <input type="text" class="form_input" />
                </div>

                <div class="col-md-12">
                    <label>Designation</label>
                    <input type="text" class="form_input" />
                </div>


            </div>
        </div>
        




    </div>

    <hr />


    <div class="table-responsive scroll1">
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="2%">SL#</th>
                    <th width="7%">Date</th>
                    <th width="7">Day</th>
                    <th width="7%" class="text-right">Time</th>
                    <th width="10%">Company</th>
                    <th width="10%">Contact Person</th>
                    <th width="12%">Contact Number</th>
                    <th width="10%">Email ID</th>
                    <th width="10%">
                        <select class="form_input">
                            <option value="">Type</option>
                            <option value="">CC</option>
                            <option value="">FC</option>
                            <option value="">FA</option>
                            <option value="">SC</option>
                        </select>
                    </th>
                    <th width="25%">Remarks</th>
                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>SL2010</td>
                    <td>01-11-2016</td>
                    <td>Wensday</td>
                    <td class="text-right">9 am</td>
                    <td>United</td>
                    <td>Sam</td>
                    <td>659852655</td>
                    <td>sam@gmail</td>
                    <td>cc</td>
                    <td>Remarks</td>

                </tr>



                <tr>

                    <td>SL2010</td>
                    <td>01-11-2016</td>
                    <td>Wensday</td>
                    <td class="text-right">9 am</td>
                    <td>United</td>
                    <td>Sam</td>
                    <td>659852655</td>
                    <td>sam@gmail</td>
                    <td>cc</td>
                    <td>Remarks</td>




                </tr>
                <tr>


                    <td>SL2010</td>
                    <td>01-11-2016</td>
                    <td>Wensday</td>
                    <td class="text-right">9 am</td>
                    <td>United</td>
                    <td>Sam</td>
                    <td>659852655</td>
                    <td>sam@gmail</td>
                    <td>cc</td>
                    <td>Remarks</td>


                </tr>
                <tr>


                    <td>SL2010</td>
                    <td>01-11-2016</td>
                    <td>Wensday</td>
                    <td class="text-right">9 am</td>
                    <td>United</td>
                    <td>Sam</td>
                    <td>659852655</td>
                    <td>sam@gmail</td>
                    <td>cc</td>
                    <td>Remarks</td>


                </tr>
                <tr>


                    <td>SL2010</td>
                    <td>01-11-2016</td>
                    <td>Wensday</td>
                    <td class="text-right">9 am</td>
                    <td>United</td>
                    <td>Sam</td>
                    <td>659852655</td>
                    <td>sam@gmail</td>
                    <td>cc</td>
                    <td>Remarks</td>


                </tr>
                <tr>


                    <td>SL2010</td>
                    <td>01-11-2016</td>
                    <td>Wensday</td>
                    <td class="text-right">9 am</td>
                    <td>United</td>
                    <td>Sam</td>
                    <td>659852655</td>
                    <td>sam@gmail</td>
                    <td>cc</td>
                    <td>Remarks</td>


                </tr>
                <tr>


                    <td>SL2010</td>
                    <td>01-11-2016</td>
                    <td>Wensday</td>
                    <td class="text-right">9 am</td>
                    <td>United</td>
                    <td>Sam</td>
                    <td>659852655</td>
                    <td>sam@gmail</td>
                    <td>cc</td>
                    <td>Remarks</td>


                </tr>




            </tbody>

        </table>
    </div>

  

    <div class="row">
        <hr />
        <div class="col-md-12">
            <button type="button" class="form-button" onclick="Previous()">Previous DAR</button>
            <button type="button" class="form-button">New Prospective Client</button>
            <button type="button" class="form-button right">Save</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>

<script>
    function Previous() {
        var url = '@Url.Action("PreviousDaily_Activity", "Daily_Activity_report")'
        window.location = url;
    }

</script>


