@model List<Capital.Domain.DailyActivityItem>

@{
    var redcount = (from a in Model where a.DailyActivityType == "SC" select a).Count();
    var bluecount = (from a in Model where a.DailyActivityType == "FA" select a).Count();
    var greencount = (from a in Model where a.DailyActivityType == "FC" select a).Count();
    var yellowcount = (from a in Model where a.DailyActivityType == "CC" select a).Count();
   
    
        
}

@using GridMvc.Html
<script>
    $(document).ready(function () {

        $('.grid-table tr td:nth-child(6)').each(function (index, object) {
            var lastCol = $(this).text();

            if (lastCol == "FC") {
                $(object).parent().css("background-color", "#92d050");
            }

            else if (lastCol == "CC") {
                $(object).parent().css("background-color", "#FFC300");
            }

            else if (lastCol == "FA") {
                $(object).parent().css("background-color", "#6ED7FA");
            }

            else if (lastCol == "SC") {
                $(object).parent().css("background-color", "#e23d14");
            }
        });

        $("#redcount").text(@redcount);
        $("#greencount").text(@greencount);
        $("#yellowcount").text(@yellowcount);
        $("#bluecount").text(@bluecount);
    })
</script>

<div class="table-responsive scroll3">
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(m => m.DailyActivityDate).Format("{0:dd/MM/yyyy}").Titled("Date").SetWidth(10);
        columns.Add(m => m.DailyActivityTime).Titled("Time").SetWidth(7);
        columns.Add(m => m.DailyActivityCompany).Titled("Company").SetWidth(7);
        columns.Add(m => m.DailyActivityContactPerson).Titled("Contact Person").SetWidth(10);
        columns.Add(m => m.DailyActivityContactNo).Titled("Contact No.").SetWidth(10);
        columns.Add(m => m.DailyActivityType).Titled("Type").SetWidth(10);
        columns.Add(m => m.DailyActivityRemarks).Titled("Remarks").SetWidth(10);
    }).WithPaging(15).WithPaging(15).SetRowCssClasses(x => x.DailyActivityDate == x.DailyActivityDate ? "rowfocus" : "")
</div>




