@model List<Capital.Domain.DailyActivityItem>
@using GridMvc.Html
<script>
    $(document).ready(function () {
     $('.grid-table tr td:nth-child(6)').each(function (index,object) {
            var lastCol = $(this).text();
            if (lastCol == "FC") {
                $(object).parent().css("background-color", "#3DB68C");
            }
            else if (lastCol == "CC") {
                $(object).parent().css("background-color", "#F9E237");
            }
            else if (lastCol == "FA") {
                $(object).parent().css("background-color", "#6ED7FA");
            }
        });
    })
</script>
<div class="table-responsive scroll3">
      @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(m => m.DailyActivityDate).Format("{0:dd/MM/yyyy}").Titled("Date").SetWidth(10);
        columns.Add(m => m.DailyActivityTime).Titled("Time").SetWidth(7);
        columns.Add(m => m.DailyActivityCompany).Titled("Company").SetWidth(7);
        columns.Add(m => m.DailyActivityContactPerson).Titled("Contact Person").SetWidth(10);
        columns.Add(m => m.DailyActivityContactNo).Titled("Contact No.").SetWidth(10);
        columns.Add(m => m.DailyActivityType).Titled("Type").SetWidth(10);
        columns.Add(m => m.DailyActivityRemarks).Titled("Remarks").SetWidth(10);
    }).WithPaging(15)
</div>
