
@{
    ViewBag.Title = "Sales_Target";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container content-in">
    <div class="row">
        <h1>Sales Target</h1>
    </div>
    <div class="row">

        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-6">
                    <label>Year</label>
                    <select class="form_input">
                        <option value="">Year</option>
                        <option value="">Year</option>
                    </select>
                </div>




            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">




            </div>
        </div>




    </div>


    <hr />


    <div class="table-responsive scroll3">
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="5%">Code</th>
                    <th width="25%">Employee Name</th>
                    <th width="5%">January</th>
                    <th width="5%">February</th>
                    <th width="5%">March</th>
                    <th width="5%">April</th>
                    <th width="5%">May</th>
                    <th width="5%">June</th>
                    <th width="5%">July</th>
                    <th width="5%">August</th>
                    <th width="5%">September</th>
                    <th width="5%">October</th>
                    <th width="5%">November</th>
                    <th width="5%">December</th>
                    <th width="10%" class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>10001</td>
                    <td>Disoosa</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td class="text-right">10001</td>

                </tr>



                <tr>

                    <td>10002</td>
                    <td>Maclan</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td class="text-right">10001</td>




                </tr>
                <tr>

                    <td>10003</td>
                    <td>Harly</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td class="text-right">10001</td>

                </tr>
                <tr>

                    <td>10003</td>
                    <td>Harly</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td class="text-right">10001</td>

                </tr>
                <tr>

                    <td>10003</td>
                    <td>Harly</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td class="text-right">10001</td>

                </tr>
                <tr>

                    <td>10003</td>
                    <td>Harly</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td class="text-right">10001</td>

                </tr>
                <tr>

                    <td>10003</td>
                    <td>Harly</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td class="text-right">10001</td>

                </tr>
                <tr>

                    <td>10003</td>
                    <td>Harly</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td class="text-right">10001</td>

                </tr>
                <tr>

                    <td>10003</td>
                    <td>Harly</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td class="text-right">10001</td>

                </tr>
                <tr>

                    <td>10003</td>
                    <td>Harly</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td class="text-right">10001</td>

                </tr>
                <tr>

                    <td>10003</td>
                    <td>Harly</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td class="text-right">10001</td>

                </tr>
                <tr>

                    <td>10003</td>
                    <td>Harly</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td class="text-right">10001</td>

                </tr>
                <tr>

                    <td>10003</td>
                    <td>Harly</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td class="text-right">10001</td>

                </tr>
                <tr>

                    <td>10003</td>
                    <td>Harly</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td>10001</td>
                    <td class="text-right">10001</td>

                </tr>







            </tbody>


        </table>
        <table class="table table-bordered" id="tab_logic">
            <tr class="grid_heading footer">
                <th width="22%">&nbsp;</th>
                <th width="63%">Total</th>
            </tr>
        </table>
    </div>



    <div class="row">
        <hr />
        <div class="col-md-12">

            <button type="button" class="form-button right">Save</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>

