body {
    padding-top: 50px;
    padding-bottom: 20px;
    background:#0099cc;
    font-family:Tahoma;
    font-size:12px;
    color:#101010;
}
.body 
{
    background: url(../Images/insurance.png) no-repeat; 
    width:762px;
    height:608px;
}
.logbd 
{
    background: url(../Images/CIBplain.png) no-repeat; 
    width:900px;
    height:280px;
}


.cib 
{
    margin-top:10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
ul,li 
{
    list-style-type:none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}
.outer-login 
{
    height:auto;
    background-color:#ffffff;
    color:#b8baba;
    border-radius:4px;
    -moz-border-radius:4px;
    position:absolute;
    margin-top:83px;
    padding-top:10px;
    padding-bottom:10px;
    /*right:106px;*/

}
    .outer-login img 
    {
        margin-top:8px;
        float: left;
        margin-right:23px;
         margin-top: -5px;
    }
    .outer-login h2 {
        font-size:16px;
        color:#585a59;
        text-align:left;
        height:30px;
        line-height:30px;
        background:#fff /*url(../images/login-head.png) repeat-x*/;
        border-bottom:1px solid #c2c3c5; 
        margin:0;
        border-radius:4px 4px 0 0;
        -moz-border-radius:4px 4px 0 0;
        margin-bottom:20px;
        padding-left:10px;



    }
.logb 
{
    background-color:#0099cc;
}
.logb1 
{
    background-color:#00a4f6;
}
    .outer-login .form-control 
    {
        width:100%;
        height:24px;
        border-radius:3px;
        -moz-border-radius:3px;

    }

    .outer-login input, select, textarea 
    {
        max-width:100%;
    }
.text-outer 
{
    border:3px solid #f1f5f8;
    margin-bottom:5px;
     border-radius: 3px;
     -moz-border-radius: 3px;
}
.outer-login .btn 
{
    background: #0099cc/*url(../images/btn.jpg) repeat-x*/;
    height:22px;
    line-height:5px;
    font-size:11px;
    color:#fff;
    border-radius:8px;
    -moz-border-radius:8px;
    border:0;
    padding-left: 5px;
    padding-right: 7px;
    font-weight:bold;
    margin-top:1px;

}
    .outer-login .btn:hover 
    {
    border-radius:35px;
    -moz-border-radius:35px
    }
    .menu-icon
    {
     background: url(../Images/icon_nav.png) no-repeat;
     width:44px;
     height:34px;
     position:fixed;
     left:8px;
     top:7px;
    }

  

.login-footer 
{
    float: right;
    margin-right: -1089px;
    margin-top: 279px;
    width: 100%;
}
.PolicyRenewal-Red 
{
    background-color:#BC2706;
    font-weight:bold;
    color:#fff !important;
}
.PolicyRenewal-Green 
{
    background-color:#92d050;
    font-weight:bold;
    color:#fff !important;
}
.mbb 
{
    margin-bottom:20px;
}
.mbb1 
{
    margin-bottom:61px;
}

.content-in 
{
    border-radius:5px;
    -moz-border-radius:5px;
    background-color:#fbe59b;
    margin-top:18px;
    /*min-height:300px;*/
}

    .content-in h1 
    {
        background:#010d01 /*url(../images/content-head.jpg) repeat-x*//*#353737*/;
        width:100%;
        height:30px;
        line-height:30px;
        border-radius:5px 5px 0 0;
       -moz-border-radius:5px 5px 0 0;
       font-weight:bold;
       color:#fff;
       text-transform:uppercase;
       font-size:12px;
       margin:0;
       padding-left:15px;
       margin-bottom:8px;
    
    }

    .content-in h2
    {
       
       color:#787676;
       font-size:12px;
       font-weight:bold;
       margin-top:0;
       margin-bottom:5px;
       text-transform:uppercase;
    }

        .content-in h3
    {
       color:#000;
       font-size:12px;
       font-style:normal;
       margin-bottom: 5px;
       margin-top: 0;
    }
.navbar-nav img 
{
    margin:0;
    padding:0;
    margin-left:35px;
}

.form_input 
{
    background: /*url(../images/form-text.jpg) repeat-x*/#fff;
    height:20px;
    line-height:20px;
    width:100%;
    border:1px solid #d8d5d6;
    color:#101010;
    /*margin-bottom:3px;*/
    font-size:12px;
    border-radius:2px;
    -moz-border-radus:2px;
}
.form_input-half 
{
    background: /*url(../images/form-text.jpg) repeat-x*/#fff;
    height:20px;
    line-height:20px;
    width:50%;
    border:1px solid #d8d5d6;
    color:#101010;
    /*margin-bottom:3px;*/
    font-size:12px;
    border-radius:2px;
    -moz-border-radus:2px;
}


.text-area 
{
    height:40px;
}
.blue 
{
    font-weight:bold;
    color:#10a4d4;
}
/*.form-button
{
 background: url(../images/button.jpg) repeat-x;
 height:27px;
 padding-right:20px;
 padding-left:20px;
border-radius:15px;
-moz-border-radius:15px;
font-size:15px;
color:#fff;
font-weight:bold;
width:80px;
margin-right:10px;
margin-bottom:20px;
}*/
.form-button
{
    background:#0099cc;
    height:27px;
    line-height:15px;
    font-size:15px;
    color:#fff;
    border-radius:6px;
    -moz-border-radius:6px;
    padding-left:5px;
    padding-right:5px;
    border:0;
    margin-left:10px;
    min-width:80px;
    margin-bottom:8px;

}
    .form-button .btn:hover 
    {
     color:#75d2f0;
    }
    .form-button1
{

    height:21px;
    line-height:15px;
    font-size:14px;
    border-radius:2px;
    -moz-border-radius:2px;
    padding-left:2px;
    padding-right:2px;
    border:0;
    min-width:58px;
    margin-top:4px;
    margin-bottom:4px;

}
    .form-button1 .btn:hover 
    {
     color:#75d2f0;
    }
.bcn 
{
    background-color: transparent !important;
}

    .create
{
    background: url(../images/btn.jpg) repeat-x;
    height:18px;
    font-size:12px;
    color:#fff;
    border-radius:4px;
    -moz-border-radius:4px;
    padding-left:7px;
    padding-right:7px;
    border:0;

}

.export 
{
    margin-top:10px;
    margin-right:10px;
}
    .create .btn:hover 
    {
     color:#75d2f0;
    }

.right 
{
    float:right;
}
.admin-icon
{
    margin-left: -65px;
    margin-top: -1px !important;
}
.main-check 
{
    margin-bottom: 16px;
    margin-top: 0;
}
.main-check1 
{
    margin-bottom:3px;
    margin-top: 0;
}
.check 
{
    display:unset;
    margin-right: 11px;

}
.check1 
{
    display:unset;
    margin-right: 1px;

}
.nzero 
{
    width:88%;
}
.half 
{
    width:50%;
}
.half-h 
{
    width:25%;
}
.content-in .col-md-0
{
    margin:0;
}
.content-in .grid_heading
{
    /*background-color:#1da2cd !important;*/
    /*height:20px;*/
}
table thead tr th
{
    height:18px;
}

.content-in .footer th 
{
     border-radius:0 !important;
    -moz-border-radius:0 !important;
}

.content-in .grid_heading th 
{
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    color:#fff;
    background:/*#10a4d4*/#0099cc;
    height:18px;
    /*line-height:18px;*/
    padding-left:5px;
    padding-right:5px;
}
    .content-in .grid_heading th table
    {
        margin:0;
    }
    .content-in .grid_heading td table,.table
    {
        margin:0;
        margin-bottom:0px;
        background-color:#fff;
    }
        }
    .content-in .grid_heading td td
    {
        border-bottom:0px;
    }
        .content-in .grid_heading th th,.content-in .grid_heading td th 
    {
        /*background-color:#949595;
        color:#10a4d4;*/
        border-radius:0;
    }
        .content-in .grid_heading th.span{
        padding-left:0px;
        padding-right:0px;
        font-size:11px;
        font-style:normal;
        }
        .content-in td.span{
        padding-left:0px;
        padding-right:0px;
        font-size:11px;
        font-style:normal;
        }

.content-in td 
{
    padding-left:5px;
    padding-right:5px;
    color:#5a5c5c;
}
.grid-header
{
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    color:#fff;
    background:/*#10a4d4  #93241e*/#0099cc;
    height:18px;
    /*line-height:18px;*/
    padding-left:5px;
    padding-right:5px;
}
.filter 
{
   position: absolute;
    right: 127px;
    top: 125px;

}
    .filter img 
    {
    border-radius:5px;
    -moz-border-radius:5px;
    }
 
.photo 
{
    width:80px;
    height:90px;
    background-color:#696969;
    border-radius: 5px;
    height: 91px;
    padding:1px;
    width: 94px;
}
.photo img
    {
    border-radius:5px;
    -moz-border-radius:5px;

    }
.mtop 
{
    margin-top:-20px;
}

.content-in td.sf
{
    background-color:#ff0000;
        color:#fff;
}
.content-in td.achived 
{
    background-color:#7030a0;
    color:#fff;
}
.content-in td.q1t 
{
    background-color:#92d050;
        color:#fff;
}
#Sales_Achvd tbody tr
 
{
    font-weight:normal;

}

.scroll1 
{
    overflow:auto;
    height:183px;
}
.scroll2 
{
    overflow:auto;
    max-height:183px;
}
.scroll3 
{
    overflow:auto;
    max-height:360px;
}
.rightscroll 
{
    max-width: 15%;
    min-width: 100%;
    overflow:scroll;
}
.cheque 
{
    font-size:11px;
}
.top-button
{
    background-color:#0099cc;
    font-size:12px;
    border-radius:4px;
    -moz-border-radius:4px;
    padding:4px;
    margin-top:5px;
}
    .top-button a 
    {
        color:#fff !important;
    }
        .top-button a:hover 
    {
        color:#4dcdf7 !important;
    }
.alert1
{

    float:right;
    margin-top:13px;
}
    .alert1 .navbar-nav > li > a
    {
    background-color:red/*#93241e*/;
    font-size:11px;
    border-radius:20px;
    -moz-border-radius:20px;
    color:#fff !important;
    text-decoration:none;
    color:#fff !important;
    line-height:13px;
    margin-top: -16px;
    padding:1px 5px !important;
    }
.bell1 {
       margin-left: -18px;
    top: -1px;
}
        .alert1 .navbar-nav > li > a:hover, .alert1 .navbar-nav > li > a:active, .alert1 .navbar-nav > li > a:focus
    {
    background-color:/*#93241e*/#0099cc;
    font-size:11px;
    border-radius:20px;
    -moz-border-radius:20px;
    color:#fff !important;
    text-decoration:none;
    color:#fff !important;
    line-height:13px;
    }


/*.text-outer 
{
    border:3px solid #f1f5f8;
}*/



    /*sidebar*/

            .sidebar-nav li {
            display: block;
        }

        .sidebar-nav ul {
            padding-left: 15px;
        }

        /*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background:#0099cc;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top:-39px;
    border-right:1px solid #fff;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top:-27px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: /*#999999*/#fff;
    font-size:12px;
    font-weight:bold;
    border-top:1px solid;
}

    .sidebar-nav li img 
    {
        padding-right:10px;
    }

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}



@media (min-width: 768px) and (max-width: 991px) {

        .changepassword 
    {
        margin-left:0 !important;
        height:296px !important;
    }

    .menu-icon
    {
        left:6px !important;
    }

.my-datepicker .form-control {
    height: 10px;
    padding: 11px;
}

.my-datepicker .btn {
    padding: 1px 2px;
}

.login-footer 
{
    margin-right: -560px !important;
}
    .logbd 
    {
        background-image: none !important;
    }

}

@media (min-width: 320px) and (max-width: 650px) {
    .changepassword 
    {
        margin-left:0 !important;
        height:296px !important;
    }
    .outer-login h2 
    {
        font-size:16px !important;
    }
    .outer-login 
    {
        margin-top:0 !important;
    }
    .outer-login img 
    {
        text-align:center;
    }
    .text-outer
    {
        border:0 !important;
    }
    .outer-login img 
    {
        margin: -5px 23px 10px 61px !important;
    }
}
.left1 
{
    float: left;
    padding-left: 5px;
    width: auto;
    padding-bottom:10px;
}

 .rowfocus:hover{
        background-color:lightblue
    }
 .pmtop {
    padding-top: 25px;
}
 .reddot {
    background-color: #e23d14;
    height: 14px;
    width: 14px;
    margin-top: 1px;
    float: left;
    margin-right: 2px;

}

.greendot {
    background-color: #92d050;
    height: 14px;
    width: 14px;
    margin-top: 1px;
    float: left;
    margin-right: 2px;
}
.yellowdot {
    background-color: #FFC300;
    height: 14px;
    width: 14px;
    margin-top: 1px;
    float: left;
    margin-right: 2px;
}
.bluedot {
    background-color: #6ED7FA;
    height: 14px;
    width: 14px;
    margin-top: 1px;
    float: left;
    margin-right: 2px;
}
.FONT{
    font-size:11PX
}
.policy-no 
{
    height:33px;
    line-height:33px;
    padding-left:10px;
}
.policy-search 
{

    font-size:16px;
}
.policy-search-icon 
{
    font-size: 16px;
    left: -71px;
    position: absolute;
    margin-top: 3px;
}


    .row-count1 h5 {
        color: #2db4e3;
        font-size: 16px;
    }
    .main-grid tr {
    border: 0;
}

.main-grid {
    border-left: 1px solid #d6d8de;
    border-bottom: 1px solid #d6d8de;
    margin: 15px;
}

    .main-grid .grid-cell {
        padding-left: 7px;
        padding-right: 7px;
    }

    .main-grid .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        /*padding:4px !important;*/
    }

    .main-grid .table {
        margin-bottom: 0;
    }

        .main-grid .table thead > tr > th {
            border-bottom: 0;
        }

.main-grid-top {
    margin-top: 0px;
}
.tab-content {
    background-color: #d6d5d5;
    border: 1px solid white;
    padding: 12px;
    margin-left: 1px;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
}