<div class="row form-group">
    <div class="col-md-5"><label>Old Password</label></div>
    <div class="col-md-7">
        <input type="text" class="form_input" />
    </div>
</div>

<div class="row form-group">
    <div class="col-md-5"><label>New Password</label></div>
    <div class="col-md-7">
        <input type="text" class="form_input" />
    </div>
</div>

<div class="row form-group">
    <div class="col-md-5"><label>Confirm Password</label></div>
    <div class="col-md-7">
        <input type="text" class="form_input" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
        <button type="button" class="form-button right" onclick="">Change Password</button>
    </div>
</div>