
@{
    ViewBag.Title = "Pendingissue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container content-in">
    <div class="row">
        <h1>Pending Issue</h1>
    </div>

    <div class="row">

        <div class="col-md-2">
            <div class="row">

                <div class="col-md-6">
                    <label>From</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>To</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="row">

                <div class="col-md-6">
                    <label>Client Name</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Excecutive</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>




    </div>


    <hr />



    <div class="table-responsive scroll3">
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="2%">#</th>
                    <th width="27%">Client Name</th>
                    <th width="25%">Insurance Company Name</th>
                    <th width="25%">Product Name</th>
                    <th width="7%" class="text-right">Amount</th>
                    <th width="5%">Renewal Date</th>
                    <th width="9%">Excecutive</th>

                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>101</td>
                    <td>Mv Britos</td>
                    <td>United</td>
                    <td>life Insurance</td>
                    <td class="text-right">5500</td>
                    <td>15-10-216</td>
                    <td>Satheesh</td>


                </tr>



                <tr>

                    <td>102</td>
                    <td>Koshy</td>
                    <td>Tata</td>
                    <td>Vehicle</td>
                    <td class="text-right">89000</td>
                    <td>16-10-2016</td>
                    <td>Moty</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Raj</td>
                    <td>Bajaj</td>
                    <td>House</td>
                    <td class="text-right">90300</td>
                    <td>20-10-2016</td>
                    <td>Rl Bhatia</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Teena</td>
                    <td>United</td>
                    <td>Vehicle</td>
                    <td class="text-right">3033000</td>
                    <td>21-10-2016</td>
                    <td>Sandhesh</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Teena</td>
                    <td>United</td>
                    <td>Vehicle</td>
                    <td class="text-right">3033000</td>
                    <td>21-10-2016</td>
                    <td>Sandhesh</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Teena</td>
                    <td>United</td>
                    <td>Vehicle</td>
                    <td class="text-right">3033000</td>
                    <td>21-10-2016</td>
                    <td>Sandhesh</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Teena</td>
                    <td>United</td>
                    <td>Vehicle</td>
                    <td class="text-right">3033000</td>
                    <td>21-10-2016</td>
                    <td>Sandhesh</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Teena</td>
                    <td>United</td>
                    <td>Vehicle</td>
                    <td class="text-right">3033000</td>
                    <td>21-10-2016</td>
                    <td>Sandhesh</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Teena</td>
                    <td>United</td>
                    <td>Vehicle</td>
                    <td class="text-right">3033000</td>
                    <td>21-10-2016</td>
                    <td>Sandhesh</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Teena</td>
                    <td>United</td>
                    <td>Vehicle</td>
                    <td class="text-right">3033000</td>
                    <td>21-10-2016</td>
                    <td>Sandhesh</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Teena</td>
                    <td>United</td>
                    <td>Vehicle</td>
                    <td class="text-right">3033000</td>
                    <td>21-10-2016</td>
                    <td>Sandhesh</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Teena</td>
                    <td>United</td>
                    <td>Vehicle</td>
                    <td class="text-right">3033000</td>
                    <td>21-10-2016</td>
                    <td>Sandhesh</td>




                </tr>

                <tr>

                    <td>101</td>
                    <td>Teena</td>
                    <td>United</td>
                    <td>Vehicle</td>
                    <td class="text-right">3033000</td>
                    <td>21-10-2016</td>
                    <td>Sandhesh</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>Teena</td>
                    <td>United</td>
                    <td>Vehicle</td>
                    <td class="text-right">3033000</td>
                    <td>21-10-2016</td>
                    <td>Sandhesh</td>




                </tr>





            </tbody>

        </table>

    </div>




    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            <button type="button" class="form-button right" onclick="Proceed()">Proceed</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>


<script>
    function Proceed() {
        var url = '@Url.Action("Issue", "New_Policy")'
        window.location = url;
    }

</script>

