
@{
    ViewBag.Title = "Index";
}
<script>
    function Exit() {
        var url = '@Url.Action("Index","Home")';
        window.location = url;
    }
    function Filter() {
        $("#Month_Commit").addClass("fade");

        var Client = $("#client").val().trim();

        var url = '@Url.Action("MonthlyCommitment")';
        url += "?Client=" + encodeURIComponent(Client);
        $("#Month_Commit").load(url, function () {
            $("#Month_Commit").removeClass("fade");
        });
    }
</script>
<div class="container content-in">
    <div class="row">
        <h1>Next Three Months Receivables Report Based on Committed Dates</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Customer</label>
            <input id="client" class="form_input" placeholder="Search for Customer" onkeyup="Filter()" />
        </div>

    </div>

    <br />
    <div id="Month_Commit">
        @Html.Action("MonthlyCommitment")
    </div>
    <div class="row">
        <hr />
        <div class="col-md-12 hrpart">

            <input type="button" class=" form-button right" onclick="Exit()" value="Exit" />
        </div>
    </div>
</div>

