
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container content-in">
    <div class="row">
        <h1>Employee</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <div class="col-md-3">
                    <label>Employee ID</label>
                    <input type="text" class="form_input half" />
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Employee Name</label>
                    <input type="text" class="form_input" />
                </div>



            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">




                <div class="col-md-12">
                    <label>Designation</label>
                    <select class="form_input">
                        <option value="">Designation 1</option>
                        <option value="">Designation 2</option>
                    </select>
                </div>



            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Department</label>
                    <input type="text" class="form_input nzero" />
                    <button type="button" class="create right">...</button>
                </div>


             </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Location</label>
                    <input type="text" class="form_input nzero" />
                    <button type="button" class="create right">...</button>
                </div>
            </div>
        </div>

            </div>
            <hr />
    <h2>Current Address</h2>
    <div class="row">
        
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Address 1</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Address 2</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Address 3</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-6">
                    <label>State</label>
                    <select class="form_input">
                        <option value="">State 1</option>
                        <option value="">State 2</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label>Country</label>
                    <select class="form_input">
                        <option value="">Country 1</option>
                        <option value="">Country 2</option>
                    </select>
                </div>
            </div>
        </div>

   </div>
    <hr />
    <h2>Permanent Address</h2>
    <div class="row">
       
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Address 1</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Address 2</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Address 3</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-6">
                    <label>State</label>
                    <select class="form_input">
                        <option value="">State 1</option>
                        <option value="">State 2</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label>Country</label>
                    <select class="form_input">
                        <option value="">Country 1</option>
                        <option value="">Country 2</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
    <hr />
    <h2>Contact Details</h2>
    <div class="row">

        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Mobile No.</label>
                    <input type="text" class="form_input" />
                    </div>
                <div class="col-md-12">
                    <label>Email</label>
                    <input type="text" class="form_input" />
                </div>



                </div>
            </div>

        <div class="col-md-4">
            <div class="row form-group">

                <div class="col-md-6">
                    <label>Passport No.</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Visa / Residence ID</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-3">
                    <label>Issue Date</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-3">
                    <label>End Date</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-3">
                    <label>Issue Date</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-3">
                    <label>End Date</label>
                    <input type="text" class="form_input" />
                </div>




            </div>
        </div>

        <div class="col-md-2">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Date of Joining</label>
                    <input type="text" class="form_input" />
                </div>

                <div class="col-md-12">
                    <label>Date of Birth</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">

            </div>
        </div>



                    


                </div>

                <div class="row">
                    <hr />
                    <div class="col-md-offset-8 col-md-4">
                        <button type="button" class="form-button right">Save</button>
                        <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                    </div>

                </div>
            </div>


