
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container content-in">
    <div class="row">
        <h1>Employee</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Employee ID</label>
                    <input type="text" class="form_input half" />
                </div>
                <div class="col-md-12">
                    <label>Employee Name</label>
                    <input type="text" class="form_input" />
                </div>




            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Designation</label>
                    <select class="form_input">
                        <option value="">Designation 1</option>
                        <option value="">Designation 2</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label>Department</label>
                    <input type="text" class="form_input nzero" />
                    <button type="button" class="create right">...</button>
                </div>




            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Location</label>
                    <input type="text" class="form_input nzero" />
                    <button type="button" class="create right">...</button>
                </div>
             </div>
        </div>

            </div>
            <hr />


            <div class="row">
                <div class="col-md-3">
                    <h2>Address</h2>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label>Current Address 1</label>
                            <input type="text" class="form_input" />
                        </div>
                        <div class="col-md-12">
                            <label>Current Address 2</label>
                            <input type="text" class="form_input" />
                        </div>

                        <div class="col-md-12">
                            <label>Current Address 3</label>
                            <input type="text" class="form_input" />
                        </div>


                    </div>
                </div>

                <div class="col-md-3">
                    <h2>&nbsp;</h2>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label>Permanent Address 1</label>
                            <input type="text" class="form_input" />
                        </div>
                        <div class="col-md-12">
                            <label>Permanent Address 2</label>
                            <input type="text" class="form_input" />
                        </div>

                        <div class="col-md-12">
                            <label>Permanent Address 3</label>
                            <input type="text" class="form_input" />
                        </div>


                    </div>
                </div>

                <div class="col-md-3">
                    <h2>Contact Details</h2>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label>Mobile No.</label>
                            <input type="text" class="form_input" />
                        </div>
                        <div class="col-md-12">
                            <label>Email</label>
                            <input type="text" class="form_input" />
                        </div>

                        <div class="col-md-6">
                            <label>Date of Joining</label>
                            <input type="text" class="form_input" />
                        </div>

                        <div class="col-md-6">
                            <label>Date of Birth</label>
                            <input type="text" class="form_input" />
                        </div>


                    </div>
                </div>


                <div class="col-md-3">
                    <h2>&nbsp;</h2>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label>Passport No.</label>
                            <input type="text" class="form_input" />
                        </div>
                        <div class="col-md-3">
                            <label>Valid to</label>
                            <input type="text" class="form_input" />
                        </div>
                        <div class="col-md-3">
                            <label>&nbsp;</label>
                            <input type="text" class="form_input" />
                        </div>
                        <div class="col-md-6">
                            <label>Visa / Residence ID</label>
                            <input type="text" class="form_input" />
                        </div>
                        <div class="col-md-3">
                            <label>Valid to</label>
                            <input type="text" class="form_input" />
                        </div>
                        <div class="col-md-3">
                            <label>&nbsp;</label>
                            <input type="text" class="form_input" />
                        </div>
                        </div>


                    </div>


            </div>

            <div class="row">
                <hr />
                <div class="col-md-offset-8 col-md-4">
                    <button type="button" class="form-button right">Save</button>
                    <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                </div>

            </div>
        </div>


