
@{
    ViewBag.Title = "Insurance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container content-in">
    <div class="row">
        <h1>Insurance Company</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Company Name</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-12">
                    <label>Address 1</label>
                    <input type="text" class="form_input" />
                </div>





            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Address 2</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-12">
                    <label>Address 3</label>
                    <input type="text" class="form_input" />
                </div>




            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Contact Person</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-12">
                    <label>Contact No.</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-6">
                    <label>Credit Period</label>
                    <input type="text" class="form_input" />
                </div>

                <div class="col-md-6">
                    <label>Credit Amount</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>

            </div>
            <div class="row">
                <hr />
                <div class="col-md-offset-8 col-md-4">
                    <button type="button" class="form-button right">Save</button>
                    <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                </div>

            </div>
        </div>
