
@{
    ViewBag.Title = "PreviousInsurance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container content-in">
    <div class="row">
        <h1>Previous Insurance Company</h1>
    </div>

    <div class="row">

        <div class="col-md-2">
            <div class="row">

                <div class="col-md-6">
                    <label>From</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>To</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="row">

                <div class="col-md-6">
                    <label>Insurance Company</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>




    </div>


    <hr />

 <div class="table-responsive scroll3">
     <span class="filter"><img src="~/Images/icon/filter.png" /></span>
<table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="2%">ID</th>
                    <th width="7%">Date</th>
                    <th width="17%">Insurance Company Name</th>
                    <th width="25%">Company Address</th>
                    <th width="15%">Contact No</th>
                    <th width="7%" class="text-center">Edit</th>
                    <th width="7%" class="text-center">Delete</th>



                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>101</td>
                    <td>01-11-2016</td>
                    <td>United</td>
                    <td>Kaloor, Cochin</td>
                    <td>9888888852</td>
                    <td></td>
                    <td></td>



                </tr>



                <tr>

                    <td>102</td>
                    <td>02-11-2016</td>
                    <td>Bajaj</td>
                    <td>Nettoor,Cochin</td>
                    <td>9888888852</td>
                    <td></td>
                    <td></td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>03-11-2016</td>
                    <td>LIC</td>
                    <td>Kaloor, Cochin</td>
                    <td>9888888852</td>
                    <td></td>
                    <td></td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>04-11-2016</td>
                    <td>Tata</td>
                    <td>Kaloor, Cochin</td>
                    <td>9888888852</td>
                    <td></td>
                    <td></td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>05-11-2016</td>
                    <td>United</td>
                    <td>Kaloor, Cochin</td>
                    <td>9888888852</td>
                    <td></td>
                    <td></td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>06-11-2016</td>
                    <td>Tata</td>
                    <td>Kaloor, Cochin</td>
                    <td>9888888852</td>
                    <td></td>
                    <td></td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>07-11-2016</td>
                    <td>United</td>
                    <td>Kaloor, Cochin</td>
                    <td>9888888852</td>
                    <td></td>
                    <td></td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>08-11-2016</td>
                    <td>Bajaj</td>
                    <td>Kaloor, Cochin</td>
                    <td>9888888852</td>
                    <td></td>
                    <td></td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>00-11-2016</td>
                    <td>Tata</td>
                    <td>Kaloor, Cochin</td>
                    <td>9888888852</td>>
                    <td></td>
                    <td></td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>11-11-2016</td>
                    <td>United</td>
                    <td>Kaloor, Cochin</td>
                    <td>9888888852</td>
                    <td></td>
                    <td></td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>12-11-2016</td>
                    <td>Bajaj</td>
                    <td>Kaloor, Cochin</td>
                    <td>9888888852</td>
                    <td></td>
                    <td></td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>13-11-2016</td>
                    <td>Tata</td>
                    <td>Kaloor, Cochin</td>
                    <td>9888888852</td>
                    <td></td>
                    <td></td>




                </tr>

                <tr>

                    <td>101</td>
                    <td>14-11-2016</td>
                    <td>LIC</td>
                    <td>Kaloor, Cochin</td>
                    <td>9888888852</td>
                    <td></td>
                    <td></td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>15-11-2016</td>
                    <td>United</td>
                    <td>Kaloor, Cochin</td>
                    <td>9888888852</td>
                    <td></td>
                    <td></td>




                </tr>





            </tbody>

        </table>
   </div>




    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            <button type="button" class="form-button right" onclick="Proceed()">Create</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>


<script>
    function Proceed() {
        var url = '@Url.Action("Insurance", "Admin")'
        window.location = url;
    }

</script>

