
@{
    ViewBag.Title = "CreateProposal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container content-in">
    <div class="row">
        <h1>Proposal</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Client Name</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-12">
                    <label>Type Of Insurance</label>
                    <input type="text" class="form_input" />
                </div>


            </div>
        </div>

        <div class="col-md-4">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Insurance Company</label>
                    <input type="text" class="form_input" />
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 main-check">
                            <label class="check">New</label>
                            <input type="checkbox" name="" value="">
                        </div>
                        <div class="col-md-6 main-check">
                            <label class="check">Renewal</label>
                            <input type="checkbox" name="" value="" checked>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-4">
            <div class="row form-group">

                <div class="col-md-6">
                    <label>Sub Date</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Effective Date</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <label>Policy Premium</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-2">
                    <label>Policy Fee</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-2">
                    <label>+Extra</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-2">
                    <label>Total Amount</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-2">
                    <label>Commission</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
            </div>
        </div>
    <hr />

    <h2>Contact Persons Details</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Name</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-12">
                    <label>Mobile / Landline</label>
                    <input type="text" class="form_input" />
                </div>




            </div>
        </div>

        <div class="col-md-4">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Payment Option</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-12">
                    <label>RM's</label>
                    <input type="text" class="form_input" />
                </div>


            </div>
        </div>
        <div class="col-md-4">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Designation</label>
                    <input type="text" class="form_input" />
                </div>

                <div class="col-md-12">
                    <label>Email</label>
                    <input type="text" class="form_input" />
                </div>
       
            </div>
        </div>
    </div>

    <hr />

    <h2>Office Use Only</h2>
   


    <div class="row">
        <div class="col-md-4">
            <div class="row form-group">
                
                <div class="col-md-12">
                    <h3>OPERATION</h3>
                    <label>Policy No.</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-12">
                    <label>Commission QRs</label>
                    <input type="text" class="form_input" />
                </div>




            </div>
        </div>

        <div class="col-md-4">
            <div class="row form-group">
                
                <div class="col-md-12">
                    <h3>FINANCE</h3>
                    <label>Payment to</label>
                    <div class="row">
                        <div class="col-md-6 main-check">
                            <label class="check">CIB</label>
                            <input type="checkbox" name="" value="">
                        </div>
                        <div class="col-md-6 main-check">
                            <label class="check">Insurance Co</label>
                            <input type="checkbox" name="" value="" checked>
                        </div>
                    </div>

                </div>



            </div>
        </div>
        <div class="col-md-4">
            <div class="row form-group">

                <div class="col-md-12">
                    <h3></h3>
                    <label>Designation</label>
                    <input type="text" class="form_input" />
                </div>

                <div class="col-md-12">
                    <label>Email</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>
    </div>


            <div class="row">
                <hr />
                <div class="col-md-offset-8 col-md-4">
                    <button type="button" class="form-button right">Save</button>
                    <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                </div>

            </div>
        </div>
