@model Capital.Domain.SalesManager
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />*@
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
@*<script type="text/javascript" src="~/scripts/jquery-3.1.1.min.js"></script>*@
<script type="text/javascript" src="~/scripts/moment.min.js"></script>
<script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="~/scripts/bootstrap-datetimepicker.min.js"></script>
<div class="container content-in">
    <div class="row">
        <h1>Sales Manager</h1>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "box_form" }))
    {
        @Html.Partial("_Form")
        <div class="row">
            <hr />
            <div class="col-md-12">
                <button type="button" class="form-button" onclick="Previous()">Previous</button>
                <button type="submit" class="form-button right">Save</button>
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            </div>
        </div>
    }
</div>

<script>
    function Previous() {
        var url = '@Url.Action("PreviousEmployee", "Admin")'
        window.location = url;
    }
</script>
<script>
    $(function () {
        $("#DateOfJoining").datepicker({ dateFormat: "dd-MMM-yyyy" });
        $("#DateOfBirth").datepicker({ dateFormat: "dd-MM-yy" });
        $("#PassportIssueDate").datepicker({ dateFormat: "dd-MM-yy" });
        $("#PassportEndDate").datepicker({ dateFormat: "dd-MM-yy" });
        $("#VisaIssueDate").datepicker({ dateFormat: "dd-MM-yy" });
        $("#VisaEndDate").datepicker({ dateFormat: "dd-MM-yy" });
    });
</script>


